body{
    background-color:beige;
}

#container{
    background-color:beige;
   height: auto;
    width: 50%;
    margin: auto;
}

#contenedor{
    margin-left: 0 auto;
    position: relative;
}

h1{
 text-align: center;
}

#opciones{
 
}

#opciones img{
    padding: 5px;
    margin: 5px;
}

#opciones img:hover{
    color:aqua;
}